/* CSS Document */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');

body {
    font-family: Google Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-weight:300;
    font-size:1vw;
    margin:0px;
    padding:0px;
    /* margin-left: auto !important; 
    margin-right: auto !important;
    width: 1100px; */
}

.details {
    font-family: Google Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-weight:300;
    font-size:1.15vw;
    margin:0px;
    padding:0px;
    /* margin-left: auto !important; 
    margin-right: auto !important;
    width: 1100px; */
}
.title {
    font-family: Google Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-weight:300;
    font-size:2.2vw;
    margin:0px;
    padding:0px;
    /* margin-left: auto !important; 
    margin-right: auto !important;
    width: 1100px; */
}

.paper_title {
    font-family: Google Sans, -apple-system,  BlinkMacSystemFont,"Segoe UI", Roboto, sans-serif;
    font-weight:300;
    font-size:1.3vw;
    margin:0px;
    padding:0px;
    /* margin-left: auto !important; 
    margin-right: auto !important;
    width: 1100px; */
}

.paper_title_big {
    font-family: Google Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-weight:300;
    font-size:1.4vw;
    margin:0px;
    padding:0px;
    /* margin-left: auto !important; 
    margin-right: auto !important;
    width: 1100px; */
}

.paper_details {
    font-family: Google Sans, -apple-system,  BlinkMacSystemFont,"Segoe UI", Roboto, sans-serif;
    font-weight:300;
    font-size:1.2vw;
    margin:0px;
    padding:0px;
    /* margin-left: auto !important; 
    margin-right: auto !important;
    width: 1100px; */
}

/* .container-max-widths {
  sm: 540px;
  md: 720px;
  lg: 960px;
  xl: 540px;
  xxl: 540px;
} */


